extends layout

block content
  h1= title
  p
    a(href="/add") 登録
    br
    a(href="/rm") 削除
    br
    a(href="/update") 更新
  ul
    each e in posts
      P 名前:#{e.name} 
      P コメント:#{e.comments}
      br
      br
