extends layout

block content
  h1= title
  form(id="frmPosts", method="post", action="/form_update")
    label(for="Name") 名前
    input(type="text", name="Name", id="Name")
    label(for="Comments") コメント
    input(type="textarea", name="Comments", id="Comments")
    input(type="submit", value="#{buttonName}")
