doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		title="Jadeテスト"
	body
		form(method="POST", action="/form_test")
			input(type="text", name="test1")
			input(type="text", name="test2")
			input(type="submit", value="test")