extends layout

block content
  h1= title
  h2= 更新前

  P 名前: beforeName
  P コメント: beforeComments

  h2= 更新後
  form(id="frmPosts", method="post", action="")
    label(for="Name") 名前
    input(type="text", name="Name", id="Name")
    label(for="Comments") コメント
    input(type="textarea", name="Comments", id="Comments")
    input(type="submit", value="#{buttonName}")
