<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>DENTSU HOKKAIDO</title>
	<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
	<div id="header">
		<a href="#">
			<div id="header-titleLog">
				dentsu	
			</div>
		</a>
		<div class="header-content" id="header-contentlast">
			Recruit
		</div>
		<div class="header-content">
			NEWSMAKERS
		</div>
		<div class="header-content">
			Case Study
		</div>
		<div class="header-content">
			About
		</div>
	</div>

	<div id="main">
		<img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Caribbean_sea_-_Morrocoy_National_Park_-_Playa_escondida.jpg">
		<div id="main-title">
			Good Innovation <br>
			from Dentsu,from Hokkaido
		</div>
		<div id="main-signature">
			debtsu hokkaido inc.
		</div>
		<a href="#">
			<div id="main-content">
				▶新卒・通年採用はこちら
			</div>
		</a>
	</div>

	<div id="main2">
		{{ message }}
		<input type="text" v-model='message'>
	</div>

	<script src="https://unpkg.com/vue"></script>

	<script type="text/javascript">
		var app = new Vue({
  		el: '#main2',
  		data: {
    		message: 'Hello Vue!'
  		}
		});
	</script>
</body>
</html>