/*html,bodyタグの設定*/
html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
	position: relative;
}

a{
	color: #FFF;
	text-decoration:none; 
}

img{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	opacity: 1;
}

/*ヘッダーの固定*/
#header{
	position: fixed;
	background: rgba(0,0,0,0.5);
	color: #FFF;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 45px;
	z-index: 100;
}

#header-titleLog{
	height: auto;
	width: 20px;
	font-size: 12px;
	padding-left: 60px;
	padding-top: 15px;
	padding-bottom: 18px;
	padding-right: 20px;
	float: left;
}

.header-content{
	height: auto;
	width: auto;
	font-size: 12px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 12px;
	padding-right: 20px;
	float: right;
}

.header-content:hover{
	background: #F00
}

#header-contentlast{
	padding-right: 20px;
	margin-right: 60px;
}


#main{
	height: calc(100%);
	width: 100%;
	position: relative;
	overflow: hidden;
}

#main-title, #main-signature, #main-content{
	position: absolute;
	left: 120px;
}

#main-title{
	font-size: 40px;
	font-weight: bold;
	top: 150px;
}

#main-signature{
	font-weight: bold;
	top: 300px;
}

#main-content{
	height: auto;
	width: 200px;
	top: 400px;
	transition: all 0.3s;
}

#main-content:hover{
	color: #F00;
}

#main2{
	height: 100px;
	width: 100%;
}