extends layout

block content
  h1= title
  form(id="frmEngineerName", method="post", action="")
    label(for="Name") 名前
    input(type="text", name="Name", id="Name")
    input(type="submit", value="#{buttonName}")
