<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id='app'>
        <select name='名前' v-model='resolt'>
            <option v-for='name in names'>{{name}}</option>
        </select>
        {{resolt}}
        <input type="radio" v-model="resolt2" v-bind:value="0">出社
        <input type="radio" v-model="resolt2" v-bind:value="1">退社
        <button v-on:click="submit()">確定</button>
    </div>


    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
        var ioSocket = io.connect( "http://192.168.33.10:3000" );
        var app = new Vue({
            el: "#app",
            data: {
                names:[],
                resolt:'',
                resolt2:''
            },
            methods: {
                submit:function(){
                    var submitData={
                        name:this.resolt,
                        status:this.resolt2
                    };
                    console.log(submitData);
                    ioSocket.emit( "sendSlack", submitData);
                }
            }
        });

        // サーバーからのデータ受け取り処理
        ioSocket.on( "connect", function() {

        }); // 接続

        ioSocket.on( "disconnect", function() {

        }); // 切断

        // サーバーからクライアントへの送り返し
        ioSocket.on( "personList", function( data ) {
            app.names = data;
        	console.log(data);
        });
    </script>
</body>
</html>